<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Details</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ details.name }}</h1>
            <p><a href="{% url 'todo_list_update' details.id %}">Edit</a></p>
            <p><a href="{% url 'todo_list_delete' details.id %}">Delete</a></p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for detail in details.items.all %}
                    <tr>
                        <td><a href="{% url 'todo_item_update' detail.id %}">{{ detail.task }}</a></td>
                        <td>{{ detail.due_date|date:"M d, Y" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
